body {
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.red-box {
    margin: 0 auto;
    background-color: red;
    width: 700px;
    padding: 0px;
    height: 400px;
    text-align: center;
}

.green-box {
    margin: 0 auto;
    background-color: green;
    height: 400px;
    width: 700px;
    padding: 25px;
    text-align: center;
}
