:root {
    --primary-color: #c8a2c8;
    --secondary-color: #e6e6fa;
    --background-color: #fafafa;
    --text-color: #4b0082;
    --card-background-color: #fff;
    --card-shadow-color: rgba(0, 0, 0, 0.1);
    --link-hover-color: #b19cd9;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

h1 {
    text-align: center;
    color: var(--text-color);
    margin-top: 20px;
    font-size: 2.5em;
    animation: fadeIn 1s ease-in-out;
}

a {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    width: 100px;
    transition: background-color 0.3s, transform 0.3s;
}

a:hover {
    background-color: var(--link-hover-color);
    transform: scale(1.05);
}

p {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    font-size: 1.1em;
    background-color: var(--card-background-color);
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--card-shadow-color);
    transition: box-shadow 0.3s ease-in-out;
}

p:hover {
    box-shadow: 0 4px 10px var(--card-shadow-color);
}

p.citacao {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 5px 10px;
    border-left: 4px solid var(--primary-color);
}

h2 {
    text-align: center;
    color: var(--text-color);
    margin-top: 40px;
    font-size: 2em;
    animation: fadeIn 1s ease-in-out;
}

img, video {
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--card-shadow-color);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s;
}

img:hover, video:hover, audio:hover {
    box-shadow: 0 4px 10px var(--card-shadow-color);
    transform: scale(1.02);
}

.media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

.media-item {
    width: 280px; 
    height: 360px; 
    object-fit: cover; 
}


.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.audio-item {
    width: 280px; 
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    .media-container {
        flex-direction: column;
    }

    .media-item {
        width: 100%;
        height: auto;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


